/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name */
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');

.smooch-sans-cool {
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

body{
    font-family: "Smooch Sans", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
    color: #000;
}

nav a{
    text-decoration: none;
    color: #fff;
    padding: 1em 1em;
    display: inline-block;
    font-size: 2em;
}

nav a:hover {
    background-color: #b29784;
    /*6b7460*/
    font-size: 2.05em;
    transition: all 0.1s ease;
}

#menu-bar{
    background-color: #6b7460;
    /*b29784*/
    color: #fff;
    padding: 10px 0;
    text-align: center;
    height: 6.5em;
    width: 100%;
    position: relative;
    text-transform: capitalize;
}

.hero-image{
    width: 100%;
    height: 50%;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

#text-overlay{
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: #6b7460;
    font-size: 400%;
    font-weight: bold;
    text-shadow: 2px 0px 2px rgba(0, 0, 0, 0.7);
    text-align: left;

}

.text-overlay p{
    position: absolute;
    text-align: left;
    top: 90%;
    left: 0%;
    width: 75%;
}

.main-content {
    background-color: #f4f4f4;
}

.main-content h2 {
    font-size: 290%;
    position: relative;
    text-align: center;
    padding-top: 12.5%;
}

.main-content p {
    font-size: 250%;
    padding-top: 10%;
    width: 50%;
    text-align: left;
    position: relative;
    display: block;
    left: 10%;
}

button {
    border-radius: 300px;
    height: 10%;
    padding-left: 1%;
    padding-right: 1%;
    margin: 10px 0;
    overflow-wrap: break-word;
    size: 50%;
    text-align: center;
    display: inline-block;
    font-size: 150%;
}

button:hover{
    cursor: pointer;
    background: grey;
}

.buttonStuff {
    width: fit-content;
    display: inline-block;
    margin-left: 30%;
    margin-top: 2.5%;
}


.boxes {
    background-color: #6b7460;
}

footer {
    background-color: #6b7460;
    font-size: large;
}