body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

a{
    text-decoration: none;
    color: #fff;
    padding: 1em 1em;
    display: inline-block;
    font-size: 2em;
}

a:hover {
    background-color: #b29784;
    /*6b7460*/
    font-size: 2.05em;
    transition: all 0.1s ease;
}

#menu-bar{
    background-color: #6b7460;
    /*b29784*/
    color: #fff;
    padding: 10px 0;
    text-align: center;
    height: 6.5em;
    width: 100%;
    /* position: fixed; */
}

.hero-image{
    width: 100%;
    height: 50%;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

#text-overlay{
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: #6b7460;
    font-size: 307%;
    font-weight: bold;
    text-shadow: 6px 0px 4px rgba(0, 0, 0, 0.7);
    text-align: left;

}

.text-overlay p{
    position: absolute;
    text-align: left;
    top: 90%;
    left: 0%;
    width: 75%;
}

.main-content {
    background-color: #f4f4f4;
}

.main-content h2 {
    font-size: 300%;
    position: relative;
    text-align: center;
    padding-top: 12.5%;
}